@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 4%;
}

h2, #screen{
    text-shadow: red -2px 0, cyan 2px 0;
}

#screen{
    margin: 4% 42%;
    padding: 2%;
    font-size: 180%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
}

#tombol{
    margin:6% 44%;
    cursor: pointer;
    /* background-color:black; */
    border: 2px solid rgba(0, 0, 0, .9) ;
    border-radius: 5%;
}

#tombol i{
    margin-top: 8px;
    /* color: white; */
}

#tombol p{
    font-weight: bold;
    margin-top: -4px;
}
